[Unit]
Description=Tailscale Up
After=tailscaled.service

[Service]
Type=oneshot
ExecStart=/etc/tailscale-up.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
